/* font-family: 'Spectral SC', serif; */


body {
    margin: 0;
    /* background-color: rgb(255, 248, 229); */
}

.main-item button {
    margin: 0;
}

/* Шапка страницы */
header {
    padding: 25px;
    background-color: rgb(224, 93, 93);
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    /* box-shadow: 0 0 7px 5px rgba(145, 123, 97, 0.418); */
}

.header-text {
    font-weight: bold;
    text-shadow: 6px 6px 0px rgba(145, 123, 97, 0.308);
}

.price {
    font-size: 50px;
    color: rgb(255, 248, 229);
    margin-top: 15px;
}

.header-wrapper {
    font-size: 30px;
    color: rgb(255, 248, 229);
}

.price-text {
    color: rgb(255, 248, 229);
    font-size: 20px;
}

.price sup {
    font-size: 20px;
}

.header-image-section figcaption {
    color: rgb(255, 248, 229);
    /* font-family: 'Oswald', sans-serif; */
    font-weight: bolder;

}

.header-image-section figure {
    font-size: 20px;
}

.header-image-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}






/* Основная часть */

.main-text {
    text-align: center;
    margin: 25px;
    font-size: 25px;
    /* font-family: 'Source Serif Pro', serif; */
    font-family: 'Playfair Display SC', serif;
}

.main-text h2 {
    color: rgba(22, 22, 22, 0.959);
}

.main-text span {
    font-family: 'Oswald', sans-serif;
    color: rgba(0, 0, 0, 0.705);
}

.main-text h2 {
    font-size: 70px;
}

.main-products {
    margin-top: 50px;
}

.main-items {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
    align-items: center;
}

.main-item {
    margin-right: 40px;
    text-align: left;
    /* box-shadow: 0 0 7px 2px rgb(170, 170, 170); */
}

.main-item img {
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 13px;
}

.item-name {
    font-size: 25px;
    color: rgb(0, 0, 0);
    display: block;
    max-width: 450px;
}

.item-price {
    color: firebrick;
    font-size: 30px;
    display: block;
}

.item-price-slashed {
    text-decoration: line-through;
    color: #8d8d8d;
}

.main-item-btn {
    padding: 7px 5px;
    font-size: 15px;
    color: white;
    background-color: rgb(189, 189, 189);
    /* background-color: rgb(110, 167, 241); */
    border: 1px solid rgb(151, 151, 151);
    padding: 5 10px;
    border-radius: 5px;
}

.main-item-btn:hover {
    background-color: rgb(138, 138, 138);
    border: 1px solid rgb(112, 112, 112);
    cursor: pointer;
}

h2 {
    font-size: 50px;
    margin-bottom: 5px;
}



/* Секция купон */
.cupon {
    display: flex;
    justify-content: space-between;
    background-color: rgb(199, 41, 41);
    color: white;
    font-size: 25px;
    margin: 50px 10px 350px 10px;
    box-shadow: 5px 5px 7px 3px rgb(71, 66, 66);
}

.cupon-akcent {
    color: yellow;
}

.cupon-text {
    margin-left: 40px;
    margin-top: 15px;
    line-height: 35px;
}

.cupon-img {
    height: 200px;
    padding: 10px 0 3px 0;
}

.cupon-img img {
    object-fit: contain;
}




/* Cекция корзина */
.order {
    margin-left: 45px;
    margin-top: 50px;
    font-family: 'Playfair Display SC', serif;
}

.order-akcent-text {
    /* background-color: rgb(0, 161, 157);   */
    background-color: #00e8ba;
    background-image: -moz-linear-gradient(top, #00e8ba 0%, #008f94 100%);
    background-image: -webkit-linear-gradient(top, #00e8ba 0%, #008f94 100%);
    background-image: -o-linear-gradient(top, #00e8ba 0%, #008f94 100%);
    background-image: -ms-linear-gradient(top, #00e8ba 0%, #008f94 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008f94', endColorstr='#008f94', GradientType=0);
    background-image: linear-gradient(top, #00e8ba 0%, #008f94 100%);
    font-size: 25px;
    height: 50px;
    color: white;
    padding-left: 20px;
    padding-top: 17px;
    margin-bottom: 15px;
    margin-right: 45px;
}

.order h2 {
    font-size: 35px;
    margin-bottom: 10px;
}

.order span {
    color: rgb(99, 99, 99);
    font-weight: bold;
}




/* Секция форм и оплаты заказа */
.form-order {
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display SC', serif;
    margin-bottom: 100px;
}

.form-order label {
    font-weight: bold;
}

.form-order input {
    width: 350px;
    padding: 15px 10px;
    margin: 5px 0 15px 0;
    background-color: rgb(219, 219, 219);
    border: none;
    /* box-shadow: 2px 1px 5px 0.5px black; */
}

.form-order h3 {
    font-size: 25px;
}

.pay-order {
    background-color: rgb(243, 237, 237);
    padding: 5px;
}

.pay-order span {
    color: rgb(1, 228, 103);
    font-weight: bold;
}

.pay-order hr {
    box-shadow: 0 0 2px 0.5px rgb(44, 44, 44);
    border: none;
    margin: 15px 0;
}



/* Кнопка */
.button-pay {
    text-decoration: none;
    text-align: center;
    padding: 8px 37px;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 16px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: #85ffc0;
    background-image: -moz-linear-gradient(top, #85ffc0 0%, #19a59e 100%);
    background-image: -webkit-linear-gradient(top, #85ffc0 0%, #19a59e 100%);
    background-image: -o-linear-gradient(top, #85ffc0 0%, #19a59e 100%);
    background-image: -ms-linear-gradient(top, #85ffc0 0%, #19a59e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#19a59e', endColorstr='#19a59e', GradientType=0);
    background-image: linear-gradient(top, #85ffc0 0%, #19a59e 100%);
    -webkit-box-shadow: 0px 0px 3px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 3px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 3px #bababa, inset 0px 0px 1px #ffffff;

    text-shadow: 0px 0px 9px #bababa;
    filter: dropshadow(color=#bababa, offx=0, offy=0);
}

.button-pay:hover {
    cursor: pointer;
    background-color: #00e8ba;
    background-image: -moz-linear-gradient(top, #00e8ba 0%, #008f94 100%);
    background-image: -webkit-linear-gradient(top, #00e8ba 0%, #008f94 100%);
    background-image: -o-linear-gradient(top, #00e8ba 0%, #008f94 100%);
    background-image: -ms-linear-gradient(top, #00e8ba 0%, #008f94 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008f94', endColorstr='#008f94', GradientType=0);
    background-image: linear-gradient(top, #00e8ba 0%, #008f94 100%);
}



/* Техподдержка */
.helper {
    position: fixed;
    bottom: 15px;
    right: 10px;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

.helper:hover {
    cursor: pointer;
}

.podarok {
    position: fixed;
    bottom: 2px;
    left: 5px;
}

.podarok:hover {
    cursor: pointer;
}



/* Модальное окно */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.205);
    overflow: auto;
}

/* Содержимое окна */
.modal-content {
    background-color: rgb(247, 242, 242);
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
}

.closeBtn {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    font-size: 30px;
    font-weight: bold;
    margin-right: 15px;
    margin-left: 50px;
    color: rgb(119, 119, 119);
}

.closeBtn:hover {
    cursor: pointer;
    color: black;
}

.modal-content h1 {
    color: rgb(70, 66, 136);
    font-size: 40px;
}

.present-txt {
    font-size: 25px;
}

.modal-content input {
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    height: 35px;
    box-sizing: border-box;
}

.present-btn {
    border: none;
    background-color: rgb(204, 204, 204);
    padding: 5px 10px;
    display: block;
    margin: auto;
    margin-top: 40px;
    font-size: 18px;
}

.present-btn:hover,
.present-btn:focus {
    cursor: pointer;
    background-color: rgb(185, 185, 185);
}
  
